{{ define "main" }}
<main aria-role="main">
  <section class="hero is-fullheight-with-navbar has-carousel">
	<div id="carousel-main" class="hero-carousel">
		<div class="item-1">
		<figure class="image">
			<img src="https://yiranguoart.s3.amazonaws.com/works-on-paper/pox/pox.jpg" />
		</figure>
		</div>
		<div class="item-2">
		<figure class="image">
			<img src="https://yiranguoart.s3.amazonaws.com/works-on-paper/monkey/monkey.jpg" />
		</figure>
		</div>
		<div class="item-3">
		<figure class="image">	
			<img src="https://yiranguoart.s3.amazonaws.com/works-on-paper/under-the-banana-leaves-a-man/under-the-banana-leaves-a-man-3.jpg" />
		</figure>
		</div>
		<div class="item-3">
		<figure class="image">	
			<img src="https://yiranguoart.s3.amazonaws.com/works-on-paper/mono-prints/mono1.jpg" />
		</figure>
		</div>
	</div>
    <div class="hero-body">
      <div class="container">
      </div>
    </div>
  </section>

</main>
{{ end }}


